@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
html{background-color:#FFF}body{color:#3a3a3a;font:100% "Nanum Gothic", Tahoma, Arial, free-sans, sans-serif;font-size-adjust:none;font-stretch:normal;font-style:normal;font-variant:normal;font-weight:400;line-height:1.5em;min-height:100%;min-width:864px !important;word-wrap:break-word}h1,h2,h3,h4,h5,h6{font-size:24px;letter-spacing:-1px;padding-bottom:3px;padding-top:6px}h2{font-size:20px}h3{font-size:18px}h4{font-size:15px;letter-spacing:0}h5{font-size:13px;font-weight:400;letter-spacing:0}div.info-box{border-style:solid;border-width:1px 0;color:#555;margin:1em 0 1.5em;padding:9px 10px 9px 50px;text-shadow:none}.info-box.none{border-width:0}.info-box.full{border-width:1px}.info-box.medium{font-size:1.1em;padding:18px 20px 18px 50px}.info-box.large{font-size:1.2em;padding:25px 27px 25px 50px}.info-box.rounded{-moz-border-radius:15px;-webkit-border-radius:15px;border-radius:15px}.info-box.alert{background-color:#ffd9c8;border-color:#f0baa2}.info-box.info{background-color:#eee;border-color:#ccc}.info-box.note{background-color:#fef6d2;border-color:#efe3ae}.info-box.normal{background-color:#eee;border-color:#ccc;padding:9px 15px}#top-link{background:url(../images/toparrow.png) center top no-repeat;bottom:15px;display:none;height:35px;padding:0;position:fixed;right:15px;width:35px}#top-link span{visibility:hidden}#top-link:hover{background:url(../images/toparrow.png) center bottom no-repeat}.info-box.download,.info-box.tick{background-color:#edfcd5;border-color:#d4ebaf}
.floatleft{float:left}.floatright{float:right}
/* Tables ---------------------- */
table{ background-color: transparent; border-collapse:collapse; }
th, td{font:12px "Nanum Gothic", Tahoma, sans-serif; color:#4D4D4D}
th{font:11px "Nanum Gothic", Tahoma}
td{color:#4D4D4D}
td a{color:#003a3a;text-align:left;text-decoration:none}
td a:hover{color:#717171;text-decoration:none}
/*-- Page elements --*/
#top_header{width:100%;height:54px;position:relative;z-index:25;background:#fbfbfb url("../images/bg_top.png") repeat-x scroll 0 0}
.inside_title{color:#FFFFFF;font:bolder 30px "Nanum Gothic", Tahoma, sans-serif;line-height:44px;padding-left:20px}
.inside_title_kr{font:bold 15px "Nanum Gothic", Tahoma}
.inside_title_eng{padding:3px 5px;font:bold 13px "Nanum Gothic", Tahoma;display:block}
#header-box{height:28px;border-bottom:1px solid #ccc;background:#F0F0F0}
#menu{padding:0}
#menu li{float:left;list-style:none;border-left:1px solid #fff;border-right:1px solid #d8d8d8}
#menu li.mcurent{color:#047001}
#menu li.end{border-left:1px solid #fff;border-right:none}
#menu li a{font-family:Tahoma, sans-serif;display:block;white-space:nowrap}
#menu a{padding:0.35em 1em 0.35em;margin:0 1px 0 1px;color:#333333;line-height:1.7em;vertical-align:middle;font-size:12px;font-weight:bold;text-decoration:none}
#menu a:hover{color:#E42A00}
#container{margin:0 auto;min-width:864px !important;width:100%; max-width:1280px;}
#main_area{margin:0 auto;padding:1% 0;width:95%}
.speeicalarea{margin:10px 0 20px 60px;width:522px;padding:10px 15px 10px 20px;background:#d8d8d8;-moz-border-radius:0.4em;-khtml-border-radius:0.4em;-webkit-border-radius:0.4em;border-radius:0.4em}

.first_pages_component {margin:0;}
.first_pages_component .error { margin:30px auto 0; width: 80%; }
.pages_boardlist {padding-left:0;}
.pages_component {margin:0 auto;width:690px;}
.pages_component dd {padding-left:0;}
.pages_component dd input[type="text"] {margin-bottom:10px;padding:0 6px;font-size:13px; height: 27px; }
.pages_component dd select {margin-bottom:5px;padding:0 2px;font-size:12px}
.pages_component dd select {position:relative;top:-2px;height:2.8em;line-height:1em}
div.header{font:bold 22px Tahoma, sans-serif;color:#818c9c;line-height:48px;background-repeat:no-repeat;margin:0 0 0 10px;float:left}
div.header span{color:#666}

div.toolbar{text-align:right;padding:0;margin: 0;float:right}
div.toolbar span.icon-32-new{background-image:url(../images/toolbar/icon-32-new.png);float:none;width:32px;height:32px;margin:0 auto;display:block}
div.toolbar a.abtn{font:11px "Nanum Gothic", Tahoma, sans-serif;color:#717171;text-align:center;display:block;float:left;white-space:nowrap;border:1px solid #fbfbfb;padding:1px 5px;cursor:pointer}
div.toolbar a.abtn:hover{border-left:1px solid #eee;border-top:1px solid #eee;border-right:1px solid #ccc;border-bottom:1px solid #ccc;text-decoration:none;color:#0B55C4}

.clr{clear:both;overflow:hidden;height:0}
.normaltxt{font-weight:normal}
.smallpadding10{padding:5px 0 0 225px;display:block}
.floating-banner{position:fixed;top:0; left:0; z-index:1000;padding-top:2px;margin:0 7.25%;width:85.5% !important;}

.toolbar_box{margin-bottom:1%;width:100%;background:#fbfbfb}
.toolbar_box:after{content:"";clear:both;}
.toolbar_box div.t, div.toolbar_box div.b{height:6px;padding:0;margin:0;overflow:hidden}
.toolbar_box div.m{border-left:1px solid #ccc;border-right:1px solid #ccc;padding:0 8px}
.toolbar_box div.t{background:url(../images/box/j_border.png) 0 0 repeat-x}
.toolbar_box div.t div.t{background:url(../images/box/j_crn_tr_med.png) 100% 0 no-repeat}
.toolbar_box div.t div.t div.t{background:url(../images/box/j_crn_tl_med.png) 0 0 no-repeat}
.toolbar_box div.b{background:url(../images/box/j_border.png) 0 100% repeat-x}
.toolbar_box div.b div.b{background:url(../images/box/j_crn_br_med.png) 100% 0 no-repeat}
.toolbar_box div.b div.b div.b{background:url(../images/box/j_crn_bl_med.png) 0 0 no-repeat}

.deletebutton{margin-right:10px}
a.cancelbutton, .updatebutton, .deletebutton, .smallbutton{margin-left:5px;font:11px "Nanum Gothic",Tahoma, sans-serif;color:#717171;border:none;cursor:pointer;padding:17px 7px;-moz-border-radius:0.4em;-khtml-border-radius:0.4em;-webkit-border-radius:0.4em;border-radius:0.4em;background-color:#DDDDDD;float:left}
a.cancelbutton{background-color:#C2DBC2;display:block}
a.cancelbutton:hover, .updatebutton:hover, .deletebutton:hover, .smallbutton:hover{color:#eb6b17;-moz-box-shadow:#A9A9A9 0 0 6px inset;-webkit-box-shadow:#A9A9A9 0 0 6px inset;box-shadow:#A9A9A9 0 0 6px inset}
.smallbutton{padding:5px 9px}
.submitbutton{font:11px "Nanum Gothic",Verdana, Tahoma, sans-serif;color:#FFF;background:none repeat scroll 0 0 #158bc3;border:1px solid #12719E;cursor:pointer;padding:5px 15px;-moz-border-radius:0.4em;-khtml-border-radius:0.4em;-webkit-border-radius:0.4em;border-radius:0.4em}.submitbutton:hover{background:none repeat scroll 0 0 #12719E;border:1px solid #158bc3;moz-box-shadow:#A9A9A9 0 0 6px inset;-webkit-box-shadow:#A9A9A9 0 0 6px inset;box-shadow:#A9A9A9 0 0 6px inset}
.submittxt{position:relative; top:2px; left:-4px; font:11px "Nanum Gothic",Tahoma, sans-serif;color:#717171;border:none;cursor:pointer;padding:7px 5px;-moz-border-radius:0.4em;-khtml-border-radius:0.4em;-webkit-border-radius:0.4em;border-radius:0.4em}.submittxt:hover{background-color:#A9A9A9;color:#F7FFF6;}
.totlaitems{width:98.5%;padding:5px;text-align:right;font:11px "Nanum Gothic",Tahoma, sans-serif}
.totlaitemsleft{width:30%;padding:13px 5px 3px 5px;text-align:right;font:11px "Nanum Gothic",Tahoma, sans-serif;float:right}
.totlaitemsright{width:43em;padding:0;text-align:right;font:11px "Nanum Gothic",Tahoma, sans-serif;float:right;}
.totalTxt { position: relative; top: 5px; display: inline-table; }
#board_bar{height:27px;background:url("../images/board/bg1.gif") repeat-x bottom}
.board_line{background:url("../images/board/line1.gif") no-repeat scroll right bottom transparent;height:27px;vertical-align:middle}
.board_line small{position:relative;top:2px}
.list_notice{line-height:2.0em;background-color:#FEE9E9}
.list_even{line-height:2.0em;background-color:#EEFFFF}.list_odd{line-height:2.0em;background-color:#FFFFFF}
.list_even_a{line-height:2.0em;background-color:#D5FDFD}.list_odd_a{line-height:2.0em;background-color:#F7FFF6}
.list_even_b{line-height:2.0em;background-color:#c6fcfc}.list_odd_b{line-height:2.0em;background-color:#E8FCE5}
.list_notice:hover, .list_even:hover, .list_odd:hover, .list_even_a:hover, .list_odd_a:hover, .list_even_b:hover, .list_odd_b:hover{background:#FFFFDD;}
.engtxt{font-family:"Nanum Gothic",Tahoma}
.td_bot{border-bottom:solid 1px #DDDDDD;vertical-align:middle}
.td_bot a{position:relative;top:.05em;font-size:1.15em;}
.td_bot a:hover, .td_bot2 a:hover{color:#eb6b17;}
.td_bot2{border-bottom:solid 1px #CCDBE2;vertical-align:middle;padding:2px}
.left_space{padding-left:5px}
.page_numbers_area{margin:7px auto 0 auto;width:95%;text-align:right}.page_numbers, .next, .prev{color:#555555;display:inline-block;height:2.68em;line-height:2.88em;border:1px solid;border-radius:3px 3px 3px 3px;cursor:pointer;font-size:11px;font-weight:bold;outline:0 none;padding:0 0.91em;vertical-align:middle;white-space:nowrap;word-wrap:normal;background-color:#E0E0E0;background-image:-moz-linear-gradient(center top , #FAFAFA 0px, #DCDCDC 100%);border-color:#CCCCCC #CCCCCC #AAAAAA;box-shadow:0 0 1px #FFFFFF inset;text-shadow:0 1px 0 #FFFFFF}
.page_numbers:hover, .next:hover, .prev:hover{background-image:-moz-linear-gradient(center top , #F0F0F0 0px, #E6E6E6 100%);border-color:#AAAAAA #AAAAAA #999999;box-shadow:0 1px 2px rgba(0, 0, 0, 0.25), 0 0 3px #FFFFFF inset}
.page_numbers:active, .next:active, .prev:active, .current{background-image:-moz-linear-gradient(center top , #C8C8C8 0px, #E6E6E6 100%);border-color:#888888 #AAAAAA #CCCCCC;box-shadow:0 1px 5px rgba(0, 0, 0, 0.25) inset, 0 1px 0 #FFFFFF}
.subsmalltxt{color:#8b8b8b;font:11px "Nanum Gothic",Tahoma;letter-spacing:0;line-height:1.5em;float:left}.redtxt{color:#BB0000}.greentxt{color:#1A8040}.orangetxt{color: #DE6B0A}.bluetxt{color: #0200cd}
.thumbanner{padding:7px 0}
.sc-button{ display:inline-block; font-weight:bold; margin:0; padding: 5px 20px 10px; text-decoration:none; text-align:center; overflow: hidden; color:#fff; border:0; border-radius:4px; background:#a0c05f; box-shadow:inset 0 -4px 0 0 #779838; }
.sc-button:hover{ color:#fff; background:#779838; box-shadow:inset 0 -4px 0 0 #a0c05f; }
.white-button {
    -moz-box-sizing: border-box;
    -moz-user-select: none;
    background-color: #FCFCFC;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(235, 235, 235, 0.3) 60%, rgba(225, 225, 225, 0.6));
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.02), 0 1px 0 rgba(255, 255, 255, 0.7) inset, -1px 0 0 rgba(255, 255, 255, 0.7) inset, 0 -1px 0 rgba(255, 255, 255, 0.5) inset, 1px 0 0 rgba(255, 255, 255, 0.7) inset;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 100;
    height: 26px;
    line-height: 20px;
    margin: 0;
    overflow: hidden;
    padding: 2px 20px;
    text-align: center;
    text-shadow: 0 1px 0 #FFFFFF;
    vertical-align: baseline;
    white-space: nowrap;
}
/*-- Front Login Page --*/
.admin_login{margin:50px auto 0 auto;width:90%; max-width:400px; height:320px;border: 1px solid #DDDDDD;-moz-border-radius:0.5em;-khtml-border-radius:0.5em;-webkit-border-radius:0.5em;border-radius:0.5em;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.02), 0 1px 0 rgba(255, 255, 255, 0.7) inset, -1px 0 0 rgba(255, 255, 255, 0.7) inset, 0 -1px 0 rgba(255, 255, 255, 0.5) inset, 1px 0 0 rgba(255, 255, 255, 0.7) inset;}
.admin_login h2{margin-left:30px;margin-top:10px;font-size:30px;color:#333333;}
div.admin_login form{margin:0 auto;width:300px;position:relative;top:10px;display:block;}div.admin_login form input.submitbutton{margin:10px auto 0;width:75%;font-size:20px;display:table;}div.admin_login form a{ width:100%; color:#4D4D4D;font:12px "Nanum Gothic", Tahoma, sans-serif; text-align: right; display:table; }
form table.login_table{margin:0 auto;width:100%;display:table;}
.error{ padding: 10px 15px; }
/*-- First page after login --*/
table.backfrontTable{margin:0 auto; width:90%;}
table.backfrontTable td{padding:0 10px 5px 10px}
.currenttitle{font:bold 14px Tahoma, Arial, free-sans, sans-serif}
ul.currentitems{padding-left:0;font:12px "Nanum Gothic",Tahoma, Arial, free-sans, sans-serif;list-style:none}
ul.currentitems li{padding:7px 0 7px 5px;height:15px;color:#5D5D5D;border-bottom:1px dotted #545454;letter-spacing:0}
a.item1{padding-left:28px;color:#5D5D5D;background:url("../images/item_1.png") left center no-repeat}
a.item2{padding-left:28px;color:#5D5D5D;background:url("../images/item_2.png") left center no-repeat}
a.item3{padding-left:28px;color:#5D5D5D;background:url("../images/item_3.png") left center no-repeat}
a.item4{padding-left:28px;color:#5D5D5D;background:url("../images/item_4.png") left center no-repeat}
a.item5{padding-left:28px;color:#5D5D5D;background:url("../images/item_5.png") left center no-repeat}
a.item6{padding-left:28px;color:#5D5D5D;background:url("../images/item_6.png") left center no-repeat}
a.item7{padding-left:28px;color:#5D5D5D;background:url("../images/item_7.png") left center no-repeat}
a.item8{padding-left:28px;color:#5D5D5D;background:url("../images/item_8.png") left center no-repeat}
a.item9{padding-left:28px;color:#5D5D5D;background:url("../images/item_9.png") left center no-repeat}
a.item10{padding-left:28px;color:#5D5D5D;background:url("../images/item_10.png") left center no-repeat}
a.wbtn{margin:5px 0 0 auto;width:45px;font:12px "Nanum Gothic",Tahoma, Arial, free-sans, sans-serif;color:#717171;border:none;cursor:pointer;padding:5px 4px;-moz-border-radius:0.4em;-khtml-border-radius:0.4em;-webkit-border-radius:0.4em;border-radius:0.4em;background-color:#DDDDDD;display:block;text-align:center}a.wbtn:hover{background-color:#717171;color:#DDDDDD}
/*-- Leftmenu --*/
.leftsubmenu{margin-left:15px;width:200px;min-height:200px;padding:5px 0 10px;border:1px solid #CCCCCC;moz-box-shadow:#A9A9A9 0 0 3px inset;-webkit-box-shadow:#A9A9A9 0 0 3px inset;box-shadow:#A9A9A9 0 0 3px inset;-moz-border-radius:0.4em;-khtml-border-radius:0.4em;-webkit-border-radius:0.4em;border-radius:0.4em}
.leftsubmenuB{margin-left:15px;width:125px;min-height:200px;padding:5px 0 10px;border:1px solid #CCCCCC;moz-box-shadow:#A9A9A9 0 0 3px inset;-webkit-box-shadow:#A9A9A9 0 0 3px inset;box-shadow:#A9A9A9 0 0 3px inset;-moz-border-radius:0.4em;-khtml-border-radius:0.4em;-webkit-border-radius:0.4em;border-radius:0.4em}
ul.menutype{list-style:none;line-height:1.4em} ul.menutype a{color:#828282;}
ul.menutype a:hover{border-bottom:1px dotted #E42A00}
/*-- Tab Navigation --*/
ul.tabs, ul.tabsa, ul.tabsb, ul.tabsc{padding:0;height:30px;width:100%;list-style:none}
ul.tabs li, ul.tabsa li, ul.tabsb li, ul.tabsc li{float:left;margin:0;overflow:hidden;position:relative}
ul.tabs li a, ul.tabsa li a, ul.tabsb li a, ul.tabsc li a{text-decoration:none;color:#FFF;background:#818C9C;display:block;font-size:.85em;padding:3px 1.1em;outline:none;border-top:1px solid #dfdfdf;border-right:1px solid #dfdfdf;border-bottom:1px solid #e8e6e7;border-left:1px solid #dfdfdf;-moz-border-radius-topright:15px;-khtml-border-radius-topright:15px;-webkit-border-top-right-radius:15px;-moz-border-radius-topleft:5px;-khtml-border-radius-topleft:5px;-webkit-border-top-left-radius:5px;border-top-left-radius:5px;border-top-right-radius:15px;}
ul.tabs li a:hover ,ul.tabsa li a:hover, ul.tabsb li a:hover, ul.tabsc li a:hover, ul.tabs li.active a:hover, ul.tabsa li.active a:hover, ul.tabsb li.active a:hover, ul.tabsc li.active a:hover{color:#000000;background:#dfdfdf;-moz-border-radius-topright:15px;-khtml-border-radius-topright:15px;-webkit-border-top-right-radius:15px;-moz-border-radius-topleft:5px;-khtml-border-radius-topleft:5px;-webkit-border-top-left-radius:5px;border-top-left-radius:5px;border-top-right-radius:15px;border-bottom:none}
ul.tabs li.active a, ul.tabsa li.active a, ul.tabsb li.active a, ul.tabsc li.active a{background:#FFF;color:#042f64;-moz-border-radius-topright:15px;-khtml-border-radius-topright:15px;-webkit-border-top-right-radius:15px;-moz-border-radius-topleft:5px;-khtml-border-radius-topleft:5px;-webkit-border-top-left-radius:5px;border-top-left-radius:5px;border-top-right-radius:15px;border-bottom:none}
.tab_content, .tab_contenta, .tab_contentb, .tab_contentc{padding:5px 10px 10px 0;background-repeat:repeat-x;background-position:top;}
/*-- Form --*/
lable{color:#656565;display:block;font:bold 10.5pt;position:relative;left:1px;letter-spacing:0;line-height:1.5em;margin-top:15px;text-align:left;width:15em}
lable.logintxt{left:221px;position:relative}.btnarea{margin:15px auto;text-align:right;width:650px}.loginbtarea{left:-210px;position:relative}
input[type="text"], input[type="password"] {width:16em;}
input[type="password"].vrystrongpass {-khtml-border-radius:.5em;-moz-border-radius:.5em;-webkit-border-radius:.5em;background:#CFEEF8;border:1px solid #1797C0;border-radius:.5em}
input[type="password"].strongpass {-khtml-border-radius:.5em;-moz-border-radius:.5em;-webkit-border-radius:.5em;background:#DCFBDC;border:1px solid #13430C;border-radius:.5em}
input[type="password"].goodpass {-khtml-border-radius:.5em;-moz-border-radius:.5em;-webkit-border-radius:.5em;background:#EBA563;border:1px solid #EB9741;border-radius:.5em}
#stylizedForm input[type="text"].error, input[type="password"].error, .error{-khtml-border-radius:.5em;-moz-border-radius:.5em;-webkit-border-radius:.5em;background:#fbcece;border:1px solid #e46c6e;border-radius:.5em;}
#stylizedForm lable.darkOrange_txt, .darkOrange_txt{color:#656565;padding:0;font:bold 10pt "Nanum Gothic",Tahoma;margin:0 2px 0 0}
#stylizedForm lable.txt55{width:55px}
#stylizedForm lable.txt75{width:75px}
#stylizedForm lable.txt80{width:80px}
#stylizedForm lable.txt85{width:85px}
#stylizedForm lable.txt90{width:90px}
#stylizedForm lable.txt95{width:95px}
#stylizedForm lable.txt100{width:100px}
#stylizedForm lable.txt110{width:115px}
#stylizedForm lable.txt120{width:135px}
#stylizedForm lable.txt171{width:171px}
#stylizedForm lable.txt80p{margin-bottom:10px;width:80%}
#stylizedForm lable.ordertxt{width:44px}
#stylizedForm lable.dtypetxt{width:85px}
#stylizedForm lable.stypetxt{width:60px}
#stylizedForm lable.viewtxt{width:55px}
#stylizedForm lable.txt55, #stylizedForm lable.txt75, #stylizedForm lable.txt80, #stylizedForm lable.txt85, #stylizedForm lable.txt90, #stylizedForm lable.txt95, #stylizedForm lable.txt100, #stylizedForm lable.txt110, #stylizedForm lable.txt120, #stylizedForm lable.txt171, #stylizedForm lable.txt150, #stylizedForm lable.ordertxt, #stylizedForm lable.dtypetxt, #stylizedForm lable.stypetxt, #stylizedForm lable.viewtxt{margin:2px 2px 0 0;text-align:right}
#stylizedForm span.formtxt, small{margin-top:-2px;padding-left:2px;color:#8b8b8b;font-size:11px;letter-spacing:0;display:block;line-height:1.5em}
#stylizedForm div.category_area{position:relative;top:15px;left:441px;margin:0;padding:0;width:237px}

#stylizedForm input[type="file"].mspace{ margin:0; padding:0 0 10px; color: transparent;}
#stylizedForm input[type="file"].mspace2{ margin:0; padding:0 0 10px 10px; color: transparent;}
#stylizedForm input[type="file"].mspace::-webkit-file-upload-button, #stylizedForm input[type="file"].mspace2::-webkit-file-upload-button { visibility: hidden; }
#stylizedForm input[type="file"].mspace::before, #stylizedForm input[type="file"].mspace2::before {
  content: 'Browse...';
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  padding:6px 12px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 600;
  font-size: 9pt;
	color:#656565;
	-khtml-border-radius:.5em;-moz-border-radius:.5em;-webkit-border-radius:.5em;border-radius:.5em;
}
#stylizedForm input[type="file"].mspace:hover::before, #stylizedForm input[type="file"].mspace2:hover::before { border-color: #EB9741; }
#stylizedForm input[type="file"].mspace:active::before, #stylizedForm input[type="file"].mspace2:active::before { background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);}

.MultiFile-list{ margin:-10px 0 5px; display:block; }
.radiolabel{ margin:0; padding:3px 5px 0; float:left; }
.radiolabel input[type="radio"]{ margin-right:4px;}
.radiolabel span{position:relative; top:-3px;}
#stylizedForm input[type="text"]{padding:0 4px; height: 27px; }
#stylizedForm input[type="text"].extra3{width:3em}
#stylizedForm input[type="text"].extra20{width:230px}
#stylizedForm input[type="text"].extra26{width:290px}
#stylizedForm input[type="text"].extra35{width:38.5em}
#stylizedForm input[type="text"].extra40{width:40em}
#stylizedForm input[type="text"].extra53{width:52.3em}
#stylizedForm input[type="text"].extra180{width:180px}
#stylizedForm input[type="text"].extra450{width:450px}
#stylizedForm input[type="text"].orderarea{width:25px;font-size:10px;text-align:center}
#stylizedForm select[disabled], #stylizedForm input[readonly], #stylizedForm input[readonly="readonly"], #stylizedForm textarea[readonly], #stylizedForm textarea[readonly="readonly"]{ background-color:rgba(228, 228, 28, 0.2); }
#stylizedForm select.blue{ line-height: 1em; }
#stylizedForm select.flexiblewidth{margin-left:3%;width:90%}
#stylizedForm select.sfixedwidth{width:15.5em}
#stylizedForm select.fixedwidth{width:20em}
#stylizedForm select.halffixedwidth{width:35.5em}
#stylizedForm select.multiselect{height:	9.2em}
#stylizedForm select.largemultiselect{height:30.6em}
#stylizedForm select.widthx{width:350px;height:15.9em;margin:0 0 0 3px;padding:0.40em 0.35em;border:1px solid #D1D3D4;font-size:12px;background:#FAFAFA;-moz-border-radius:0.4em;-khtml-border-radius:0.4em;-webkit-border-radius:0.4em;border-radius:0.4em}
#stylizedForm textarea.sizeset{margin-bottom:20px;height:30em;width:48.7em}
#stylizedForm textarea.Threeline{margin-bottom:10px;height:4em;width:48.7em}
#stylizedForm textarea.Twoline{margin-bottom:10px;height:1.6em;width:48.7em}
#stylizedForm input.readyonly, #stylizedForm input.readyonly:hover, #stylizedForm input.readyonly:focus{font-weight:normal;color:#9D9D9D;border:1px solid #DDD;background-color:rgba(0, 0, 0, 0.1);-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;}

hr.divimg{  border: 0; height: 1px; background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.35), rgba(0,0,0,0)); background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.35), rgba(0,0,0,0)); background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.35), rgba(0,0,0,0)); background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.35), rgba(0,0,0,0)); }
/*-- Footer--*/
#footer{width:100%}#footer div.footer_content{margin:0 auto;width:864px;height:20px}p.copyright{clear:both;font-size:12px;margin:0;padding:0;text-align:center}